<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
</head>
<body>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
                <a class="nav-item nav-link pr-4" asp-page="/Index">Home Page</a>
                <a class="nav-item nav-link" asp-page="/Search">Search</a>
                @if (User.IsInRole("Host"))
                {
                    <a class="nav-item nav-link" asp-page="/Accommodation">Your Accomodations</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-item nav-link" asp-page="/Bookings">Your Bookings</a>
                }
                @if (User.IsInRole("Host"))
                {
                    <a class="nav-item nav-link" asp-page="/CreateAccommodation">Create new Accommodation</a>
                    <a class="nav-item nav-link" asp-page="/Reservations">Reservations Summary</a>
                }
            </div>
            <div class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-item nav-link">Welcome @User.Identity.Name</a>
                    <a class="nav-item nav-link" asp-page="/LogOut">Log out</a>
                }
                else
                {
                    <a class="nav-item nav-link" asp-page="/LogIn">Log in</a>
                    <a class="nav-item nav-link" asp-page="/Register">Register</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>



</body>
</html>
