@page
@model AccommodationBookingApp.Pages._400Model
@{
    <div>
        <h2>Sorry, that was not a valid request.</h2>
        <a asp-page="/Index">Click here to return to the home page</a>
    </div>
}
