@page
@model AccommodationBookingApp.Pages.CreateAccommodationModel
@{
    ViewData["Title"] = "Create New Accommodation";
}

<form enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label>City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label>Number of beds</label>
        <input min="1" value="1" asp-for="NumberOfBeds" class="form-control" />
        <span asp-validation-for="NumberOfBeds" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label>Price per night</label>
        <input min="1" asp-for="PricePerNight" class="form-control mr-1" style="width: 80%;" />
        <select asp-for="Currency"
                asp-items="@Html.GetEnumSelectList<AccommodationBookingApp.DataAccess.Entities.Currency>()">
        </select>
        <span asp-validation-for="PricePerNight" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="RequireApproval">Require your approval before booking is confirmed?</label>
        <input asp-for="RequireApproval" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="UserCanCancelBooking">Allow the users to cancel their booking before arrival?</label>
        <input asp-for="UserCanCancelBooking" class="form-control" />
    </div>
    <div class="form-group row">
        <label>Accommodation type:</label>
        <select asp-for="AccommodationTypeId"
                asp-items="@(new SelectList(Model.AccommodationTypes, "Id", "Name"))">
            <option selected disabled hidden>Please select the accommodation type</option>
        </select>
        <span asp-validation-for="AccommodationTypeId" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label>Check-in time:</label>
        <select asp-for="CheckInTime"
                asp-items="@(new SelectList(Model.TimesList))">
            <option value="" selected disabled hidden>Please select the check-in time</option>
        </select>
        <span asp-validation-for="CheckInTime" class="text-warning"></span>
        <label>Check-out time:</label>
        <select asp-for="CheckOutTime"
                asp-items="@(new SelectList(Model.TimesList))">
            <option value="" selected disabled hidden>Please select the check-out time</option>
        </select>
        <span asp-validation-for="CheckOutTime" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label>Header photo</label>
        <input asp-for="AccommodationHeaderPhoto" accept="image/jpeg, image/png" class="form-control-file" placeholder="Select a photo to upload..."/>
        <span asp-validation-for="AccommodationHeaderPhoto" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label>Photos</label>
        <input asp-for="AccommodationPhotos" accept="image/jpeg, image/png" multiple class="form-control-file" placeholder="Select multiple photos to upload..." />
        <span asp-validation-for="AccommodationPhotos" class="text-warning"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>

</form>

