@page
@model AccommodationBookingApp.Pages.CreateAccommodationModel
@{
    ViewData["Title"] = "Create New Accommodation";
}

<form enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="NumberOfBeds"></label>
        <input value="1" asp-for="NumberOfBeds" class="form-control" />
        <span asp-validation-for="NumberOfBeds" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PricePerNight" class="col-12 pl-0"></label>
        <input asp-for="PricePerNight" class="form-control col-lg-11 col-md-10 col-sm-9"/>
        <select asp-for="CurrencyId" class="col-lg-1 col-md-2 col-sm-3"
                asp-items="@(new SelectList(Model.Currencies, "Id", "Name"))">
        </select>
        <span asp-validation-for="PricePerNight" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label class="col-12 pl-0">Require your approval before booking is confirmed?</label>
        <input asp-for="RequireApproval" class="form-control col-1" />
    </div>
    <div class="form-group row">
        <label class="col-12 pl-0">Allow the users to cancel their booking before arrival?</label>
        <input asp-for="UserCanCancelBooking" class="form-control col-1" />
    </div>
    <div class="form-group row">
        <label asp-for="AccommodationTypeId" class="col-12 pl-0"></label>
        <select asp-for="AccommodationTypeId"
                asp-items="@(new SelectList(Model.AccommodationTypes, "Id", "Name"))">
            <option selected disabled hidden>Please select the accommodation type</option>
        </select>
        <span asp-validation-for="AccommodationTypeId" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="CheckInTime" class="col-12 pl-0"></label>
        <select asp-for="CheckInTime"
                asp-items="@(new SelectList(Model.TimesList))">
            <option value="" selected disabled hidden>Please select the check-in time</option>
        </select>
        <span asp-validation-for="CheckInTime" class="text-warning"></span>
    </div>
    <div class="form-group row"> 
        <label asp-for="CheckOutTime" class="col-12 pl-0"></label>
        <select asp-for="CheckOutTime"
                asp-items="@(new SelectList(Model.TimesList))">
            <option value="" selected disabled hidden>Please select the check-out time</option>
        </select>
        <span asp-validation-for="CheckOutTime" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AccommodationHeaderPhoto"></label>
        <input asp-for="AccommodationHeaderPhoto" accept="image/jpeg, image/png" class="form-control-file" placeholder="Select a photo to upload..."/>
        <span asp-validation-for="AccommodationHeaderPhoto" class="text-warning"></span>
    </div>
    <div class="form-group row">
        <label asp-for="AccommodationPhotos"></label>
        <input asp-for="AccommodationPhotos" accept="image/jpeg, image/png" multiple class="form-control-file" placeholder="Select multiple photos to upload..." />
        <span asp-validation-for="AccommodationPhotos" class="text-warning"></span>
    </div>
    
    <div class="row">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</form>

