@page
@model AccommodationBookingApp.Pages.CreateAccommodationModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AccommodationBookingApp.DataAccess.Entities.ApplicationUser> UserManager;
@{
    ViewData["Title"] = "CreateAccommodation";
}

<form enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label>Name</label>
        <input asp-for="Accommodation.Name" class="form-control" />
    </div>
    <div class="form-group row">
        <label>Address</label>
        <input asp-for="Accommodation.Address" class="form-control" />
    </div>
    <div class="form-group row">
        <label>City</label>
        <input asp-for="Accommodation.City" class="form-control" />
    </div>
    <div class="form-group row">
        <label>Number of beds</label>
        <input asp-for="Accommodation.NumberOfBeds" class="form-control" />
    </div>
    <div class="form-group row">
        <label>Price per night</label>
        <input asp-for="Accommodation.PricePerNight" class="form-control mr-1" style="width: 80%;" />
        <select asp-for="Accommodation.Currency"
                asp-items="@Html.GetEnumSelectList<AccommodationBookingApp.DataAccess.Entities.Currency>()">
        </select>
    </div>
    <div class="form-group row">
        <label asp-for="Accommodation.RequireApproval">Require your approval before booking is confirmed?</label>
        <input asp-for="Accommodation.RequireApproval" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="Accommodation.UserCanCancelBooking">Allow the users to cancel their booking before arrival?</label>
        <input asp-for="Accommodation.UserCanCancelBooking" class="form-control" />
    </div>
    <div class="form-group row">
        <label>Accommodation type:</label>
        <select asp-for="AccommodationTypeId"
                asp-items="@(new SelectList(Model.AccommodationTypes, "Id", "Name"))">
            <option>Please select the accomodation type</option>
        </select>
    </div>
    <div class="form-group row">
        <label>Check-in time:</label>
        <select asp-for="Accommodation.CheckInTime"
                asp-items="@(new SelectList(Model.TimesList))">
            <option>Please select the check-in time</option>
        </select>
        <label>Check-out time:</label>
        <select asp-for="Accommodation.CheckOutTime"
                asp-items="@(new SelectList(Model.TimesList))">
            <option>Please select the check-out time</option>
        </select>
    </div>
    <div class="form-group row">
        <label>Images</label>
        <input asp-for="formFiles" multiple class="form-control" />
    </div>
    <!--
        <input type="hidden" asp-for="Accommodation.ApplicationUser" value="currentUser" />
    -->
    <button type="submit" class="btn btn-primary">Create</button>

</form>

