@page
@model AccommodationBookingApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}


@if (User.Identity.IsAuthenticated)
{
    <p>Logged in!</p>
}

@if (User.IsInRole("User"))
{
    <p>You have the role of User!</p>
}