@page
@model AccommodationBookingApp.Pages.RegisterAsHostModel
@{
    ViewData["Title"] = "Host Registration";
}
<form method="post" class="mt-2">
    <div asp-validation-summary="All" class="text-warning"></div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label>Mobile phone number (Digits only)</label>
        <input asp-for="MobilePhoneNumber" class="form-control" />
        <span asp-validation-for="MobilePhoneNumber" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input required asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country"></label>
        <input required asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-warning"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Register</button>
</form>