@page
@model AccommodationBookingApp.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "401 - Unauthorized";
}
@{
    <div>
        <h2>Sorry, nothing to see here</h2>
        <a asp-page="/Index">Click here to return to the home page</a>
    </div>
}
