@page
@model AccommodationBookingApp.Pages.NotFoundModel
@{ 
    ViewData["Title"] = "Not found";
}
@{
    <div>
        <h2>Sorry, what you are looking for is no longer here or dosen't exist</h2>
        <a asp-page="/Index">Click here to return to the home page</a>
    </div>
}
