@page
@model AccommodationBookingApp.Pages.PasswordChangedModel
@{
    ViewData["Title"] = "Password changed";
}
@{
    <div class="row">
        <h4>Password updated successfully!</h4>
    </div>
    <div class="row">
        <a asp-page="/Account/Details">Click here to return to the account page</a>
    </div>
}
