@page
@model AccommodationBookingApp.Pages.PasswordChangedModel
@{
    ViewData["Title"] = "Password changed";
}
@{
    <h4>Password updated successfully!</h4>

    <a asp-page="/Account/Details">Click here to return to the account page</a>
}
