@page
@model AccommodationBookingApp.Pages.Admin.AccommodationTypeCreatedModel
@{
    ViewData["Title"] = "New accommodation type created!";
}
@{
    <div class="container">
        <div class="row">
            <h4>New accommodation type created!</h4>
        </div>
        <div class="row">
            <a asp-page="/Index">Click here to return to the home page.</a>
        </div>
    </div>
}
