@page
@model AccommodationBookingApp.Pages.Admin.CurrencyCreatedModel
@{
    ViewData["Title"] = "New currency created!";
}
@{
    <div class="row">
        <h4>New currency created!</h4>
    </div>
    <div class="row">
        <a asp-page="/Index">Click here to return to the home page.</a>
    </div>
}
